<h1>Edit Your Profile</h1>

<%= form_for(@user, url: profile_path, method: :patch, html: { class: "edit-profile-form", enctype: "multipart/form-data" }) do |f| %>
  <div class="profile-form-group">
    <%= f.label :biography, "Biography", class: "form-label" %>
    <%= f.text_area :biography, rows: 5, class: "form-textarea" %>
  </div>

  <div class="profile-form-group">
    <%= f.label :profile_picture, "Profile Picture", class: "form-label" %>
    <%= f.file_field :profile_picture, class: "form-file-input" %>
    <% if @user.profile_picture.attached? %>
      <p>Current profile picture:</p>
      <%= image_tag @user.profile_picture, size: "100x100", class: "profile-thumbnail" %>
    <% end %>
  </div>

  <div class="profile-form-group">
    <%= f.label :banner, "Banner", class: "form-label" %>
    <%= f.file_field :banner, class: "form-file-input" %>
    <% if @user.banner.attached? %>
      <p>Current banner:</p>
      <%= image_tag @user.banner, size: "300x100", class: "profile-thumbnail" %>
    <% end %>
  </div>

  <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Profile', user_profile_path(current_user), class: 'btn btn-secondary' %>
