<% content_for :title, "Following" %>

<h1 style="text-align: center;">Following</h1>
<% if user_signed_in? && current_user.agency? %>
  <div class="new-post-link">
    <%= link_to "New post", new_post_path, class: "btn btn-primary" %>
  </div>
<% end %>



<div class="sort-dropdown">
  <%= form_with url: agency_feed_follows_path, method: :get, local: true, class: "form-inline custom-sort-form" do %>
    <label for="sort" class="mr-2">Sort By:</label>
    <%= select_tag :sort, options_for_select(
      [
        ['Newest', 'newest'],
        ['Oldest', 'oldest'],
        ['Most Upvoted', 'most_upvoted'],
        ['Most Downvoted', 'most_downvoted']        
      ], 
      selected: @sort
    ), 
    class: "form-control", 
    onchange: 'this.form.submit();' %>
  <% end %>
</div


  <!-- Posts List -->
<% @posts.each do |post| %><br>
  <div id="posts" class="card w-50 mx-auto">
    <div class="card-body"><br>
      <p><strong>Posted by:</strong> <%= link_to post.user.username, user_profile_path(post.user) %></p>
      <p><strong>Posted:</strong> <%= time_ago_in_words(post.created_at) %> ago</p>
      <h2 class="card-title"><%= post.title %></h2>
      <p class="card-text"><%= truncate(post.content.to_plain_text, length: 500, omission: '...') %></p>
      
      <!-- Voting Section -->
      <div class="post-voting-index">
        <p>Score: <%= post.score %></p>

        <% current_vote = post.votes.find_by(user: current_user) %>

        <!-- Upvote Button -->
        <% if current_vote&.value == 1 %>
          <%= button_to upvote_post_path(post), method: :post, class: "vote-button" do %>
            <%= image_tag "upvote.png", alt: "Upvote", class: "vote-image" %>
          <% end %>
        <% else %>
          <%= button_to upvote_post_path(post), method: :post, class: "vote-button" do %>
            <%= image_tag "upvote_grey.png", alt: "Upvote", class: "vote-image" %>
          <% end %>
        <% end %>

        <!-- Downvote Button -->
        <% if current_vote&.value == -1 %>
          <%= button_to downvote_post_path(post), method: :post, class: "vote-button" do %>
            <%= image_tag "downvote.png", alt: "Downvote", class: "vote-image" %>
          <% end %>
        <% else %>
          <%= button_to downvote_post_path(post), method: :post, class: "vote-button" do %>
            <%= image_tag "downvote_grey.png", alt: "Downvote", class: "vote-image" %>
          <% end %>
        <% end %>

        <%= link_to "Show this post", post, class: "btn btn-outline-primary btn-sm"%>
      </div>
    </div>
  </div>
<% end %> 

