<p style="color: green; font-weight: bold; text-align: center;"><%= notice %></p>

<% content_for :title, "Posts" %>

<div class="deneme">
  <h1 class="page-title">Posts</h1>
  <% if user_signed_in? && current_user.agency? %>
    <div class="new-post-link">
      <%= link_to "New post", new_post_path, class: "btn btn-primary" %>
  </div>  
  <% end %>
</div>

<% @posts.each do |post| %><br>
  <div id="posts" class="card w-50 mx-auto">
    <div class="card-body"><br>
      <!-- Display the username before the title -->
      <p><strong>Posted by:</strong> <%= post.user.username %></p> 
      <h2 class="card-title"><%= post.title %></h2>
      <p class="card-text"><%= post.content %></p>
      
      <p>
        <%= link_to "Show this post", post, class: "btn btn-outline-primary btn-sm" %>
      </p>
    </div>
  </div>
<% end %> 

