<h1>Your Posts</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div style="margin-bottom: 20px;">
      <div id="posts" class="card w-50 mx-auto">
        <div class="card-body"><br>
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text"><%= post.content %></p>
            <div class="d-flex align-items-center justify-content-center">
                <% if current_user == post.user %>
                    <div class="abc">
                        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning btn-sm' %> &nbsp|&nbsp
                    </div>
                <% end %>
                <%= link_to "Show this post", post, class: "btn btn-outline-primary btn-sm"%>
                <% if current_user == post.user %>
                    <div class="abc">
                        &nbsp|&nbsp<%= button_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'btn btn-danger btn-sm' %>
                    </div>
                <% end %>
            </div>
        </div>
      </div>

    </div>
  <% end %>
<% else %>
  <p>This user has no posts yet.</p>
<% end %>
<br>
<%= link_to 'Back to All Posts', posts_path %>
